.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.game-over {
    position: fixed; /* ca să stea fixă, nu să împingă layout-ul */
    top: 20px;
    right: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
  }
  
  .game-over h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
  }
  
  .game-over button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #538d4e;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .game-over button:hover {
    background-color: #6aaa64;
  }
  